<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<h1> Bubble Sort Algorithm </h1>

<p>Input your values</p>
<form action="#" method="POST">
    <input type="text" name="var1" placeholder="Enter number 1" value="Input number here">
    <input type="text" name="var2" placeholder="Enter number 2" value="Input number here">
    <input type="text" name="var3" placeholder="Enter number 3" value="Input number here">
    <input type="text" name="var4" placeholder="Enter number 4" value="Input number here">
    <input type="text" name="var5" placeholder="Enter number 5" value="Input number here">
    <input type="text" name="var6" placeholder="Enter number 6" value="Input number here">
    <input type="text" name="var7" placeholder="Enter number 7" value="Input number here">
    <input type="text" name="var8" placeholder="Enter number 8" value="Input number here">
    <input type="text" name="var9" placeholder="Enter number 9" value="Input number here">
    <input type="text" name="var10" placeholder="Enter number 10" value="Input number here">
    <input type="submit" value="submit">
</form>


<p>Original List: </p>

{{var1}}

{{var2}}

{{var3}}

{{var4}}

{{var5}}

{{var6}}

{{var7}}

{{var8}}

{{var9}}

{{var10}}

<p>Sorted Values:</p>
{{sorted}}




</body>
</html>